<header class="header-style-2">
   <nav class="navbar navbar-expand-lg">
     <button
       aria-controls="navbarSupportedContent"
       aria-expanded="false"
       aria-label="Toggle navigation"
       class="navbar-toggler"
       data-target="#navbarSupportedContent"
       data-toggle="collapse"
       type="button"
     >
       <i class="fas fa-bars"></i>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
         <a class="nav-link" [routerLink]="['/home']">Home</a>
         <a class="nav-link" [routerLink]="['/estructuras-de-cargo']">Conocenos</a>
         <a class="nav-link" [routerLink]="['/eventos']">Eventos</a>
         <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
       </ul>
     </div>
   </nav>
</header>
