<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-widget">
          <h4>Mensaje Fauc</h4>
          <p>
            "Lo que estamos haciendo a los bosques del mundo es un espejo de lo que nos hacemos a nosotros mismos y a los otros" - Mahatma Gandhi. Según la FAO, cada año desaparecen 8,8 millones de hectáreas de bosque, una superficie superior a toda Andalucía. El daño que se le hace a los bosques repercute en la biodiversidad, fuentes de energía y espacios naturales, garantizando que nuestra especie tenga un hogar en el que habitar.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-widget">
          <h4>Promesas FAUC a Futuro</h4>
          <ul>
            <li><a href="#">Energía solar</a></li>
            <li><a href="#">Gestión de residuos</a></li>
            <li><a href="#">Ideas ecológicas</a></li>
            <li><a href="#">Materiales de reciclaje</a></li>
            <li><a href="#">Ecología vegetal</a></li>
            <li><a href="#">Salvar la vida silvestre</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
  <!-- <div class="footer-copyr">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right">
          <img src="../../assets/images/logo.png" alt="Logo">
        </div>
        <div class="col-md-12 text-right">
          <p>
            &copy; 2023 Tu Empresa | Todos los derechos reservados
          </p>
        </div>
      </div>
    </div>
  </div> -->