<footer class="footer">
  <div class="footer-top wf100">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <!-- Footer Widget Start -->
          <div class="footer-widget">
            <h4>Mensaje Fauc</h4>
            <p>Lo que estamos haciendo a los bosques del mundo es un espejo de lo que nos hacemos a nosotros mismos y a los otros (Mahatma Gandhi). Según la FAO, cada año desaparecen 8,8 millones de hectáreas de bosque, una superficie superior a toda Andalucía. Increíble, ¿verdad? El daño que se le hace a los bosques es un daño que nos repercute a cada uno de nosotros porque supone la desaparición de la biodiversidad, de fuentes de energía y de espacios naturales, que son la garantía de que nuestra especie tenga un hogar en el que habitar.</p>
          </div>
          <!-- Footer Widget End -->
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <!-- Footer Widget Start -->
          <div class="footer-widget">
            <h4>Promesas FAUC a Futuro</h4>
            <mat-nav-list>
              <a mat-list-item href="#">Energía solar</a>
              <a mat-list-item href="#">Gestión de residuos</a>
              <a mat-list-item href="#">Ideas ecológicas</a>
              <a mat-list-item href="#">Materiales de reciclaje</a>
              <a mat-list-item href="#">Ecología vegetal</a>
              <a mat-list-item href="#">Salvar la vida silvestre</a>
            </mat-nav-list>
          </div>
          <!-- Footer Widget End -->
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <!-- Footer Widget Start -->
          <div class="footer-widget">
            <h4>Últimas publicaciones</h4>
            <mat-nav-list>
              <a mat-list-item>
                <img src="../../assets/images/flp1.jpg" alt="">
                <span><strong><a href="#">Cómo puedes mantener vivos animales salvajes para...</a></strong></span>
                <span class="pdate"><i>Posted:</i> 29 September, 2023</span>
              </a>
              <a mat-list-item>
                <img src="../../assets/images/flp2.jpg" alt="">
                <span><strong><a href="#">Elimine su contaminación de botella de plástico y mantenga...</a></strong></span>
                <span class="pdate"><i>Posted:</i> 29 September, 2023</span>
              </a>
              <a mat-list-item>
                <img src="../../assets/images/flp3.jpg" alt="">
                <span><strong><a href="#">Cómo puedes mantener vivos animales salvajes para...</a></strong></span>
                <span class="pdate"><i>Posted:</i> 29 September, 2023</span>
              </a>
            </mat-nav-list>
          </div>
          <!-- Footer Widget End -->
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyr wf100">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <img src="../../assets/images/logo.png" alt="">
        </div>
      </div>
    </div>
  </div>
</footer>
