<section id="home-slider" class="owl-carousel owl-theme wf100">
    <div class="item"> 
       <div class="slider-caption h2slider">
          <div class="container">
             <strong>Fundacion<span> Agronomica UC</span></strong>
             <h1>Ecológica, Sustentable</h1>
          </div>
       </div>
       <img src="../../assets/images/h2-slide1.jpg" alt=""> 
    </div>
    <div class="item">
       <div class="slider-caption h2slider">
          <div class="container">
             <h1>“La tierra no es nuestra, nosotros somos de la tierra”</h1>
          </div>
       </div>
       <img src="../../assets/images/h2-slide2.jpg" alt=""> 
    </div>
    <div class="item">
      <div class="slider-caption h2slider">
         <div class="container">
            <h1>“La tierra no es nuestra, nosotros somos de la tierra”</h1>
         </div>
      </div>
      <img src="../../assets/images/h2-slide3.jpg" alt=""> 
   </div>
   <div class="item">
    <div class="slider-caption h2slider">
       <div class="container">
          <h1>“La tierra no es nuestra, nosotros somos de la tierra”</h1>
       </div>
    </div>
    <img src="../../assets/images/h2-slide4.jpg" alt=""> 
 </div>
  </section>
