<!-- <section id="home-slider" class="owl-carousel owl-theme wf100">
  <mat-carousel>
    <mat-carousel-slide>
      <div class="item">
        <div class="slider-caption h2slider">
          <div class="container">
            <strong>Fundacion<span> Agronomica UC</span></strong>
            <h1>ecológica amigable</h1>
          </div>
        </div>
        <img src="../../assets/images/h2-slide1.jpg" alt="">
      </div>
    </mat-carousel-slide>

    <mat-carousel-slide>
      <div class="item">
        <div class="slider-caption h2slider">
          <div class="container">
            <strong><span>porFavor</span> detener caza y </strong>
            <h1>ahorrar faunaSilvestre</h1>
            <p>de <strong> animales en peligro </strong> en el mundo </p>
            <a href="#" class="active">Encontrarse afuera más</a>
            <a href="#">unirse nosotras ahora</a>
          </div>
        </div>
        <img src="../../assets/images/h2-slide2.jpg" alt="">
      </div>
    </mat-carousel-slide>
  </mat-carousel>
</section> -->
<section id="home-slider" class="owl-carousel owl-theme wf100">
    <div class="item"> 
       <div class="slider-caption h2slider">
          <div class="container">
             <strong>Fundacion<span> Agronomica UC</span></strong>
             <h1>Ecológica, Sustentable</h1>
          </div>
       </div>
       <img src="../../assets/images/frontis.jpg" alt=""> 
    </div>
    <div class="item">
       <div class="slider-caption h2slider">
          <div class="container">
             <h1>“La tierra no es nuestra, nosotros somos de la tierra”</h1>
          </div>
       </div>
       <img src="../../assets/images/h2-slide2.jpg" alt=""> 
    </div>
  </section>
