.mat-mdc-dialog-container .mdc-dialog__surface {
  width: 500px;
}
.btns{
  display: flex;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
form {
  // display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
    textarea {
      min-height: 100px;
    }
  }
}
