<div class="cards-jobs">
  <!-- personal 1 -->
  <mat-card class="example-card">
    <img
      mat-card-image
      src="/Fauc/assets/images/personal/javiera.png"
      alt="Photo of javiera"
    />
    <mat-card-actions>
      <button mat-button>javiera.gonzalez@fauc.cl</button>
    </mat-card-actions>
  </mat-card>
  <mat-icon></mat-icon>
  <!-- personal 2 -->
  <mat-card class="example-card">
    <img
      mat-card-image
      src="/Fauc/assets/images/personal/savka.png"
      alt="Photo of a Savka"
    />
    <mat-card-actions>
      <button mat-button>savka.aldunate@fauc.cl</button>
    </mat-card-actions>
  </mat-card>
  <mat-icon></mat-icon>
  <!-- personal 3 -->
  <mat-card class="example-card">
    <img
      mat-card-image
      src="/Fauc/assets/images/personal/jose manuel.png"
      alt="Photo of a jose manuel"
    />
    <mat-card-actions>
      <button mat-button>campo1@fauc.cl</button>
    </mat-card-actions>
  </mat-card>
</div>