<div class="cards">
  <!-- personal 1 -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-icon mat-icon >account</mat-icon>
      <mat-card-title>Javiera Gonzales</mat-card-title>
      <mat-card-title>Gerente Administrativo</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="/Fauc/assets/images/personal/javiera.png"
      alt="Photo of javiera"
    />
    <mat-card-actions>
      <button mat-button>telefono</button>
      <button mat-button>correo</button>
    </mat-card-actions>
  </mat-card>
  <mat-icon></mat-icon>
  <!-- personal 2 -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-icon>account</mat-icon>
      <mat-card-title>Savka Aldunate</mat-card-title>
      <mat-card-title>Administradora Agricola</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="/Fauc/assets/images/personal/savka.png"
      alt="Photo of a Savka"
    />
    <mat-card-actions>
      <button mat-button>telefono</button>
      <button mat-button>correo</button>
    </mat-card-actions>
  </mat-card>
  <mat-icon></mat-icon>
  <!-- personal 3 -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-icon>account</mat-icon>
      <mat-card-title>Jose Manuel Guevara</mat-card-title>
      <mat-card-title>Administrador Ganadero</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="/Fauc/assets/images/personal/jose manuel.png"
      alt="Photo of a jose manuel"
    />
    <mat-card-actions>
      <button mat-button>telefono</button>
      <button mat-button>correo</button>
    </mat-card-actions>
  </mat-card>
</div>