.cards-jobs {
  display: inline-flex;
  flex-wrap: wrap; // Permite que las tarjetas se envuelvan a la siguiente línea si no hay suficiente espacio
}
.example-card {
  max-width: 250px;
  margin: 10px auto; // Ajusta el margen para un mejor aspecto
  box-sizing: border-box; // Incluye el margen en el ancho de la tarjeta
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
@media screen and (max-width: 650px) {
  // .cards-jobs {
  //   display: block;
  // }
  .example-card {
    max-width: 100%; // Aprovecha al máximo el ancho disponible
  }
}
