<body>
  <div class="wrapper home2">
    <!--Header Inicio-->
    <app-header></app-header>
    <router-outlet></router-outlet>
    <!--Header Fin-->
    <!--Slider Inicio-->
    <app-carousel></app-carousel>
    <!--Slider Fin-->
    <!--Area de servicio Inicio-->
    <app-area-service></app-area-service>
    <!--Area de servicio Fin-->
    <!--Seccion SobreNosotros Inicio-->
    <app-about-us></app-about-us>
    <!--Seccion SobreNosotros Fin-->
    <!--Projects Inicio-->
    <app-projects></app-projects>
    <!--Projects Fin-->
    <!--Componente de ventas Inicio-->
    <app-sale></app-sale>
    <!--Componente de ventas Fin-->
    <!--Footer Inicio-->
    <app-footer></app-footer>
    <!--Footer Fin-->
  </div>
</body>