<body>
  <div class="wrapper home2">
     <!--Header Start-->
     <app-header></app-header>
     <!--Header End--> 
     <!--Slider Start-->
     <app-carousel></app-carousel>
     <!--Slider End--> 
     <!--Inicio del área de servicio-->
     <app-area-service></app-area-service>
     <!--Fin del área de servicio--> 
     <!--Inicio Seccion SobreNosotros-->
     <app-about-us></app-about-us>
     <!--About Section End--> 
     <!--Current Projects Start-->
     <app-projects></app-projects>
     <!--Current Projects End--> 
     <!--Componente de ventas Start-->
     <app-sale></app-sale>
     <!--Componente de ventas End--> 
     <!--Inicio Footer-->
     <app-footer></app-footer>
     <!--Fin Footer--> 
  </div>
</body>