<body>
  <div class="wrapper home2">
    <app-header class="header"></app-header>
    <!--Slider-->
    <app-carousel></app-carousel>
    <!--Área de Servicio-->
    <app-area-service></app-area-service>
    <!--Seccion SobreNosotros-->
    <section id="objetivos">
      <app-about-us></app-about-us>
    </section>
    <!--Seccion job position-->
    <section id="conocenos" class="conocenos">
      <app-job-positions></app-job-positions>
    </section>
    <!--Seccion Proyectos-->
    <app-projects></app-projects>
    <!--Seccion contacto-->
    <section id="contacto">
    </section>
    <app-contact></app-contact>
    <!--Componente de Ventas -->
    <app-sale></app-sale>
    <section id="venta">
  </section>
    <!--Footer-->
    <app-footer></app-footer>
  </div>
</body>
